= form_for user, html: { class: "form-horizontal" } do |f|
  - if user.errors.any?
    #error_explanation.panel.panel-danger
      .panel-heading
        = "#{user.errors.count} #{'erro'.pluralize(user.errors.count)} #{'proibiu'.pluralize(user.errors.count)} este usuário de salvar:"
      .panel-body
        ul
          - user.errors.full_messages.each do |message|
            li.text-danger
              = message

  .form-group
    .col-sm-12.text-right
      .btn-group
        = link_to users_path, class: "btn btn-sm btn-default" do
          span.glyphicon.glyphicon-list-alt
          | Lista
        = button_tag type: "submit", class: "btn btn-sm btn-success" do
          span.glyphicon.glyphicon-floppy-disk
          | Salvar
        - if ["edit", "update"].include?(params[:action]) && policy(user).show?
          = link_to user, class: "btn btn-sm btn-primary" do
            span.glyphicon.glyphicon-eye-open
            | Ver

  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, class: "form-control"

  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :email, class: "form-control"

  - if policy(user).change_password?
    .form-group
      = f.label :password, class: "col-sm-2 control-label"
      .col-sm-10
        = f.password_field :password, class: "form-control"

    .form-group
      = f.label :password_confirmation, class: "col-sm-2 control-label"
      .col-sm-10
        = f.password_field :password_confirmation, class: "form-control"

  - if policy(user).change_role?
    .form-group
      = f.label :role, class: "col-sm-2 control-label"
      .col-sm-10
        = f.select :role, User::VALID_ROLES.map{ |role| [I18n.t("enums.user.role.#{role}"), role] }, {}, class: "form-control"

  .form-group
    = f.label :services, class: "col-sm-2 control-label"
    .col-sm-10
      = f.collection_check_boxes(:service_ids, Service.active, :id, :name) do |b|
        = b.label(class: "checkbox-inline"){ b.check_box + b.text }

  - if policy(user).activate?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :active do
            = f.check_box :active
            | Ativo?

  .form-group
    .col-sm-12.text-right
      .btn-group
        = link_to users_path, class: "btn btn-sm btn-default" do
          span.glyphicon.glyphicon-list-alt
          | Lista
        = button_tag type: "submit", class: "btn btn-sm btn-success" do
          span.glyphicon.glyphicon-floppy-disk
          | Salvar
        - if ["edit", "update"].include?(params[:action]) && policy(user).show?
          = link_to user, class: "btn btn-sm btn-primary" do
            span.glyphicon.glyphicon-eye-open
            | Ver
